<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block body %}

{#    <div class="container py-4">#}
{#        <header class="pb-3 mb-4 border-bottom border-primary ">#}
{#            <span class="fs-4">SQL CRUD Login Page</span>#}
{#        </header>#}
{#    </div>#}

    <div class="container py-4 text-light bg-">

        <div class="container">
            <div class="background">
                <form method="POST" ID="login" action={{url_for('crud.crud_login')}}>
                    <table style="position: absolute; left: 650px;">
                        <tr><th><label for="email" style="color: #fff; font-size: 30px;">Email</label></th></tr>
                        <tr><td><input  type="email" id='email' name="email" size="20" required></td></tr>
                        <tr><th><label  for="password"style="color: #fff;font-size: 30px">Password</label></th></tr>
                        <tr><td><input type="password" id="password" name="password" size="20" required></td></tr>
                        <tr><th><input id="submitbtn" type="submit" value="Submit"></th></tr>
                        <tr><td><a id="signup" href={{url_for('crud.crud_authorize')}}>Sign Up</a></td></tr>
                    </table>
                </form>
            </div>
        </div>

    </div>

    <style>
        body{
        background-color: #365940;
    }

        #submitbtn {
            background-color: #fff;
            border-radius: 20px;
            width: 90px;
            height:40px;
            position: absolute;
            left:60px;
            top:200px;
        }


    </style>


{% endblock %}