<!DOCTYPE html>
{% extends "layouts/base.html" %}
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question number </title>
    <style>
        body {
            background-image: url("blue.jpg");
            background-color: darkcyan;
        }
    </style>
</head>
<p>Subject: {{question[0]}}</p>
<p>Subcategory: {{question[1]}}</p>
<p>Question: {{question[2]}}</p>
<p>Other comments: {{question[3]}}</p>
<h3>Read Member Answers</h3>
{% for x in answers %}
<div class="answer">
    <p>{{answers[x][1]}}</p>
    <p>{{answers[x][2]}}</p>
</div>
{% endfor %}
{% endblock %}
</html>